@page "/blogs"
@using ColonyReviewsBlazorWebApp.Models
@using ColonyReviewsBlazorWebApp.Services
@inject IGetAllBlogsService GetAllBlogsService

@attribute [StreamRendering(true)]

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @if (allBlogs == null)
    {
        @for (int i = 0; i < 6; i++)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="placeholder-image">
                        <img src="#")" class="card-img-top" alt="Blog Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Loading...</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Author: Loading...</small>
                    </div>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @foreach (var blog in allBlogs)
        {
            <div class="col">
                <div class="card h-100">
                    @if (blog.ImageData != null && blog.ImageType != null)
                    {
                        <img src="@($"data:{blog.ImageType};base64,{Convert.ToBase64String(blog.ImageData)}")" class="card-img-top" alt="Blog Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@blog.Title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Author: @blog.Author</small>
                    </div>
                </div>
            </div>
        }
    }
</div>


@code {
    private static List<BlogModel>? allBlogs;

    protected override async Task OnInitializedAsync()
    {
        await GetAllBlogsService.LoadDataAsync();
        allBlogs = GetAllBlogsService.GetData();
    }
}
